header(class="header")
  .container 
    .inner-header
      .inner-logo 
        img(src="/images/logo.jpg", alt="this is image")
      .inner-nav 
        a(href="/") Home 
        a(href="/products") products 