include ../mixins/sub-menu.pug

header(class="header")
  .container 
    .inner-header
      a(href="/" class="inner-logo")
        img(src="/images/logo-2.jpg", alt="this is image")
      form(action=`/search`)
        div(class="" style="display: flex; gap: 2px")
          input(type="text" class="form-control" name="keyword" placeholder="Nhập từ khóa..." value=query)
          button(class="btn btn-primary" type="submit") Tìm 
      ul(class="inner-nav") 
        li 
          a(href="/") Trang chủ 
        li(class="sub-menu")
          a(href="/products") Sản phẩm
          +sub-menu(layoutCategory, 'products')
        li 
          a(href="/news") Bài viết 
        li 
          a(href="/cart") Giỏ hàng(#{totalQuantity ? totalQuantity : 0})
        - if(user)
            li 
              a(href="/user/info") Cá nhân 
            li 
              a(href="/user/logout") Đăng xuất 
        - else 
            li 
              a(href="/user/register") Đăng ký
            li 
              a(href="/user/login") Đăng nhập
          
                   