include ../mixins/sub-menu.pug

header(class="header")
  .container 
    .inner-header
      a(href="/" class="inner-logo")
        img(src="/images/logo-2.jpg", alt="this is image")
      ul(class="inner-nav") 
        li 
          a(href="/") Trang chủ 
        li(class="sub-menu")
          a(href="/products") Sản phẩm
          +sub-menu(layoutCategory, 'products')
        li 
          a(href="/news") Bài viết 
          
                   