extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main 
  +alert-success(2500)
  +alert-error(2500)
  div(style="width: 100%;")
    form(
      action=`${prefixAdmin}/auth/login`
      class=""
      method="POST"
      style="width: 400px; margin: 0 auto;"
    ) 
      h2(class="my-3") Đăng nhập
      .form-group 
        label(for="email") Email
        input(type="email" class="form-control" name="email" id="email" required) 
      .form-group 
        label(for="pass") Password
        input(type="password" class="form-control" name="password" id="pass" required)
      .form-group.form-check
        input(type="checkbox" class="form-check-input" id="remmember")
        label(for="remember") Check me out

      button(class="btn btn-primary") Đăng nhập 