mixin formSearch(query)
  form(action="" class="inline-form" id="form-search")
    .input-group.mb-2.mr-sm-2
      input(type="text" class="form-control" name="q" value=query)
      .input-group-append
        button(class="btn btn-success" type="submit") Tìm