extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  div(style="width: 500px;margin: 20px auto;")
    +box-head("Xác thực email")
    form(action="/user/password/forgot" method="POST")
      .form-group 
        label(for="email") Email
        input(type="email", id="email" name="email" class="form-control" required)  

      button(class="btn btn-primary btn-block") Xác nhận email