extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  div(style="width: 500px;margin: 20px auto;")
    +box-head("Xác thực OTP")
    div(class="alert alert-success")
      p OTP đã được gửi về email của bạn và sẽ có hiệu lực trong 3 phút, vui lòng kiểm tra hòm thư.
    form(action="/user/password/otp" method="POST")
      .form-group 
        input(type="email", id="email" name="email" class="form-control" value=email readonly)  

      .form-group
        label(for="otp") Nhập OTP  
        input(type="text", id="otp" name="otp" class="form-control" required)  

      button(class="btn btn-primary btn-block") Xác thực