extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  div(style="width: 500px;margin: 20px auto;")
    +box-head("Đăng ký tài khoản")
    form(action="/user/register" method="POST")
      .form-group 
        label(for="fullname") Họ và tên
        input(type="text", name="fullname" id="fullname" class="form-control" required)  
      .form-group 
        label(for="email") Email
        input(type="email", id="email" name="email" class="form-control" required)  
      .form-group 
        label(for="password") Mật khẩu
        input(type="password", id="password" name="password" class="form-control" required)

      button(class="btn btn-primary btn-block") Đăng ký  