extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  div(style="width: 500px;margin: 20px auto;")
    +box-head("Đổi mật khẩu mới")
    form(action="/user/password/reset-password" method="POST")
      .form-group 
        label(for="password") Nhập mật khẩu mới
        input(type="password", id="password" name="password" class="form-control" required)  
      .form-group 
        label(for="confirm") Nhập lại mật khẩu
        input(type="password", id="confirm" name="confirmPassword" class="form-control" required)  

      button(class="btn btn-primary btn-block") Đổi mật khẩu