header
  .container-fluid
    .inner-header-content
      .inner-logo
        a(href=`${prefixAdmin}/dashboard` style="") ADMIN 
      .inner-nav
        a(href=`${prefixAdmin}/my-info` class="btn btn-primary mr-3") Cá nhân
        a(href=`${prefixAdmin}/auth/logout` class="btn btn-danger") Đăng xuất   