.sider 
  .inner-content
    a(href=`${prefixAdmin}/`) Trang chủ 
    a(href=`${prefixAdmin}/products`) Sản phẩm 
    a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
    a(href=`${prefixAdmin}/trash`) Thùng rác 